* { margin:0; padding:0;}
html, body { height:100%;}
body { background:url(Images/body-bg.gif) center top #37271c; font-family:Tahoma, Geneva, sans-serif; font-size:100%; line-height:1.125em; color:#bca695;}

input, select, textarea { font-family:Tahoma, Geneva, sans-serif; font-size:1em;}

.clear { clear:both;}
.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin-bottom:18px;}

/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}
object { vertical-align:top; outline:none;}


/*==================list====================*/
ul { list-style:none;}

/*==================other====================*/
.img-indent { margin:0 10px 0 -8px; float:left;}
.img-indent.alt { margin-right:25px;}


.extra-wrap { overflow:hidden; }

.p1 { margin-bottom:9px;}
.p2 { margin-bottom:18px;}
.p3 { margin-bottom:27px;}

.alt-top { padding-top:9px;}

/*==================txt, links, lines, titles====================*/
a {color:#bca695; outline:none;}
a:hover{text-decoration:none;}

h1 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:60px; line-height:1em; color:#c30000; text-transform:uppercase; font-weight:normal; letter-spacing:-2px;}
h1 a { color:#c30000; text-decoration:none;}
h2 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#c30000; font-size:30px; line-height:1em; font-weight:normal; margin-bottom:12px; letter-spacing:-1px;}
h3 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#c30000; font-size:25px; line-height:1em; font-weight:normal; margin-bottom:16px;}


.txt1 { font-size:.91em;}
.txt2 { color:#c30000; font-size:1.33em; text-transform:uppercase;}

.button { text-align:center; font-size:.91em;}
.button span { display:inline-block; background:url(Images/button-side.gif) no-repeat left top; padding-left:1px;}
.button span span { background:url(Images/button-side.gif) no-repeat right top; padding-right:1px; padding-left:0;}
.button span span a { display:inline-block; background:url(Images/button-bg.gif) left top repeat-x; padding:0 0 3px 0; color:#d5c6bb; width:152px; text-decoration:none; text-transform:uppercase; font-weight:bold;}
.button span span a:hover { text-decoration:underline;}

.line-hor { background:#4d3525; height:1px; overflow:hidden; font-size:0; line-height:0; margin:21px 0 16px 0;}
.line-ver { background-image:url(Images/line-ver.gif); background-repeat:repeat-y; width:100%;}

.title { margin-bottom:20px;}

/*header*/
#header .row-1 { height:136px; }
#header .row-2 { height:390px; background:url(Images/header-bg.png) no-repeat left bottom;}
#header .row-2.alt { height:278px; background:url(Images/header-bg1.png) no-repeat left bottom; width:100%; padding:0; margin:0;}
#header .row-2 .indent { padding:13px 0 0 13px;}

#header .logo { float:left; padding:40px 0 0 45px;}
#header .logo em { position:absolute; top:25px; text-transform:uppercase; font-style:normal; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; padding-left:5px;}
#header .logo strong { color:#ad0000; font-size:.91em; padding-left:5px;}
#header .phones { float:right; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:25px; line-height:1em; color:#c30000; padding:43px 48px 0 0; letter-spacing:-1px;}

.header-box { background:url(Images/header-bg1.jpg) no-repeat left top; width:950px; height:364px;}
.header-box .inner { padding:307px 0 0 2px;}

#header .nav { width:100%; overflow:hidden;}
#header .nav li { display:inline;}
#header .nav li a { display:block; float:left; width:156px; height:55px; line-height:52px; font-size:16px; text-transform:uppercase; font-weight:bold; color:#fff; text-decoration:none; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; margin-right:2px; background:url(images/nav-bg1.png) no-repeat left top;}
#header .nav li a:hover { background:url(Images/nav-bg2.png) no-repeat left top;}
#header .nav li a.current { background:url(Images/nav-bg2.png) no-repeat left top;}

/*content*/
#content { background:url(Images/content-bg.png) left top; margin:0 8px;  padding:11px 40px 20px 40px;}
#content .indent { padding:17px 0 20px 0;}

#content ul { padding-bottom:20px;}
#content ul li { background:url(Images/bull1.gif) no-repeat left 8px; padding:0 0 0 13px;}

#content .aside ul { font-size:.91em;}

/*footer*/
#footer { font-family:Arial, Helvetica, sans-serif; padding:28px 40px 35px 40px;}
#footer a { color:#e3dad2;}
#footer .nav { text-align:center; padding-bottom:25px;}
#footer .nav li { display:inline;}
#footer .nav li a { padding:0 48px 0 45px; color:#e3dad2;}

/*==========================================*/


#main {width:976px; margin:0 auto; position:relative;}

#header {height:526px; background:url(Images/header-bg-top.jpg) no-repeat left top;}
#header.small { height:414px;}
#header, #content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-3 { float:left;}

.aside { float:left; width:236px; margin-right:50px;}
.content { float:left; width:594px; position:relative;}

/*======= index.html =======*/
#page1 #content .line-ver { background-position:297px top;}
#page1 #content .col-1 {width:214px; margin-right:112px;}
#page1 #content .col-2 { width:223px;}
